<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.monitoring.collection.mapper.DataPointMapper">

    <resultMap type="DataPoint" id="DataPointResult">
        <result property="pointId"    column="point_id"    />
        <result property="collectorId"    column="collector_id"    />
        <result property="dmaTopic"    column="dma_topic"    />
        <result property="tableName"    column="table_name"    />
        <result property="pointName"    column="point_name"    />
        <result property="pointCode"    column="point_code"    />
        <result property="description"    column="description"    />
        <result property="dataType"    column="data_type"    />
        <result property="unit"    column="unit"    />
        <result property="isActive"    column="is_active"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDataPointVo">
        select point_id, collector_id, dma_topic, table_name, point_name, point_code, description, data_type, unit, is_active, create_time, update_time from data_point
    </sql>

    <select id="selectDataPointList" parameterType="DataPoint" resultMap="DataPointResult">
        <include refid="selectDataPointVo"/>
        <where>
            <if test="collectorId != null "> and collector_id = #{collectorId}</if>
            <if test="dmaTopic != null  and dmaTopic != ''"> and dma_topic = #{dmaTopic}</if>
            <if test="tableName != null  and tableName != ''"> and table_name like concat('%', #{tableName}, '%')</if>
            <if test="pointName != null  and pointName != ''"> and point_name like concat('%', #{pointName}, '%')</if>
            <if test="pointCode != null  and pointCode != ''"> and point_code = #{pointCode}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="dataType != null  and dataType != ''"> and data_type = #{dataType}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="isActive != null "> and is_active = #{isActive}</if>
        </where>
    </select>

    <select id="selectDataPointByPointId" parameterType="Long" resultMap="DataPointResult">
        <include refid="selectDataPointVo"/>
        where point_id = #{pointId}
    </select>

    <insert id="insertDataPoint" parameterType="DataPoint" useGeneratedKeys="true" keyProperty="pointId">
        insert into data_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collectorId != null">collector_id,</if>
            <if test="dmaTopic != null">dma_topic,</if>
            <if test="tableName != null">table_name,</if>
            <if test="pointName != null and pointName != ''">point_name,</if>
            <if test="pointCode != null">point_code,</if>
            <if test="description != null">description,</if>
            <if test="dataType != null and dataType != ''">data_type,</if>
            <if test="unit != null">unit,</if>
            <if test="isActive != null">is_active,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="collectorId != null">#{collectorId},</if>
            <if test="dmaTopic != null">#{dmaTopic},</if>
            <if test="tableName != null">#{tableName},</if>
            <if test="pointName != null and pointName != ''">#{pointName},</if>
            <if test="pointCode != null">#{pointCode},</if>
            <if test="description != null">#{description},</if>
            <if test="dataType != null and dataType != ''">#{dataType},</if>
            <if test="unit != null">#{unit},</if>
            <if test="isActive != null">#{isActive},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDataPoint" parameterType="DataPoint">
        update data_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="collectorId != null">collector_id = #{collectorId},</if>
            <if test="dmaTopic != null">dma_topic = #{dmaTopic},</if>
            <if test="tableName != null">table_name = #{tableName},</if>
            <if test="pointName != null and pointName != ''">point_name = #{pointName},</if>
            <if test="pointCode != null">point_code = #{pointCode},</if>
            <if test="description != null">description = #{description},</if>
            <if test="dataType != null and dataType != ''">data_type = #{dataType},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where point_id = #{pointId}
    </update>

    <delete id="deleteDataPointByPointId" parameterType="Long">
        delete from data_point where point_id = #{pointId}
    </delete>

    <delete id="deleteDataPointByPointIds" parameterType="String">
        delete from data_point where point_id in
        <foreach item="pointId" collection="array" open="(" separator="," close=")">
            #{pointId}
        </foreach>
    </delete>

    <!--自定义内容-->
    <select id="selectDataPointByTableName" parameterType="String" resultMap="DataPointResult">
        <include refid="selectDataPointVo"/>
        where table_name = #{tableName}
    </select>

    <select id="checkCollectorIdAndTopicAndPointCodeUnique" parameterType="DataPoint" resultType="Integer">
        select count(*) from data_point
        <where>
            <if test="collectorId!= null "> and collector_id = #{collectorId}</if>
            <if test="dmaTopic!= null  and dmaTopic!= ''"> and dma_topic = #{dmaTopic}</if>
            <if test="pointCode!= null"> and point_code = #{pointCode}</if>
        </where>
    </select>

</mapper>