<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.monitoring.collection.mapper.DataTypePointMapper">
    
    <resultMap type="DataTypePoint" id="DataTypePointResult">
        <result property="pointId"    column="point_id"    />
        <result property="collectorId"    column="collector_id"    />
        <result property="dmaTopic"    column="dma_topic"    />
        <result property="tableName"    column="table_name"    />
        <result property="pointName"    column="point_name"    />
        <result property="pointCode"    column="point_code"    />
        <result property="description"    column="description"    />
        <result property="dataType"    column="data_type"    />
        <result property="unit"    column="unit"    />
        <result property="isActive"    column="is_active"    />

        <result property="dataTypeId"    column="data_type_id"    />
        <result property="dataPointId"    column="data_point_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDataTypePointVo">
        select p.point_id, p.collector_id, p.dma_topic, p.table_name, p.point_name, p.point_code, p.description, p.data_type, p.unit, p.is_active,tp.type_id data_type_id, tp.point_id data_point_id, tp.create_by, tp.create_time, tp.update_by, tp.update_time from data_point p
        left join data_type_point tp on p.point_id = tp.point_id
        left join data_type t on tp.type_id = t.type_id
    </sql>

    <select id="selectDataTypePointList" parameterType="DataTypePoint" resultMap="DataTypePointResult">
        <include refid="selectDataTypePointVo"/>
        <where>
            <if test="collectorId != null "> and p.collector_id = #{collectorId}</if>
            <if test="dmaTopic != null  and dmaTopic != ''"> and p.dma_topic = #{dmaTopic}</if>
            <if test="tableName != null  and tableName != ''"> and p.table_name like concat('%', #{tableName}, '%')</if>
            <if test="pointName != null  and pointName != ''"> and p.point_name like concat('%', #{pointName}, '%')</if>
            <if test="pointCode != null  and pointCode != ''"> and p.point_code = #{pointCode}</if>
            <if test="description != null  and description != ''"> and p.description = #{description}</if>
            <if test="dataType != null  and dataType != ''"> and p.data_type = #{dataType}</if>
            <if test="unit != null  and unit != ''"> and p.unit = #{unit}</if>
            <if test="isActive != null "> and p.is_active = #{isActive}</if>
            <if test="dataTypeId != null "> and tp.type_id = #{dataTypeId}</if>
            <if test="dataPointId != null "> and tp.point_id = #{dataPointId}</if>
        </where>
    </select>
    
    <select id="selectDataTypePointByTypeId" parameterType="Long" resultMap="DataTypePointResult">
        <include refid="selectDataTypePointVo"/>
        where type_id = #{typeId}
    </select>

    <insert id="insertDataTypePoint" parameterType="DataTypePoint">
        insert into data_type_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">type_id,</if>
            <if test="pointId != null">point_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">#{typeId},</if>
            <if test="pointId != null">#{pointId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDataTypePoint" parameterType="DataTypePoint">
        update data_type_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="pointId != null">point_id = #{pointId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <delete id="deleteDataTypePointByTypeId" parameterType="Long">
        delete from data_type_point where type_id = #{typeId}
    </delete>

    <delete id="deleteDataTypePointByTypeIds" parameterType="String">
        delete from data_type_point where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

    <!-- 自定义内容 -->
    <select id="countByTypeId" parameterType="Long" resultType="Integer">
        select count(*) from data_type_point where type_id = #{typeId}
    </select>

    <delete id="deleteDataTypePointByPointIds" parameterType="String">
        delete from data_type_point where point_id in
        <foreach item="pointId" collection="array" open="(" separator="," close=")">
            #{pointId}
        </foreach>
    </delete>
</mapper>